section {
    background-color: rgb(32, 32, 32);
    padding: 1rem;
    height: 500px;
}

div {
    padding: 1rem;
    margin: 10px;
}

p {
    margin: 80px 0;
    padding: 1rem;
}

/* ===== Positioning ======= */

.a {
    background-color: rgb(70, 95, 236);
}

.b {
    background-color: rgb(97, 233, 97);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.c {
    background-color: rgb(218, 197, 81);
}

.d {
    background-color: rgb(238, 71, 71);
}


/* ====== Sticky ======== */

.sticky {
    background-color: rgb(97, 233, 97);
    position: sticky;
    top: 10px;
}

h1 {
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1679465807823-5f49cef29329?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
    color: white;
    padding: 9rem;
    height: 100vh;
    box-sizing: border-box;
}